body{background-color:azure;
}

.butttons{margin-bottom:2px;
          font-size:22;
          font-family:"Nyala";
          background-color:dodgerblue;}
/*
.icon{margin-left:-50px}
 
*/
.bel{color:black;
    font-family: "ALGERIAN";
    font-size:32px; 
    position: relative;
    top:65%;
    left:-5%;
}.logo{
    position: absolute;
    top:45%;
    padding-right:0%;
}
.video {float:right;
         top: 10%;
    padding-right: 10%;
    margin-top: 80px;
    margin-right:-60px;}

.para{
    background-color:white; 
    margin-top: 80px;
    border-radius: 25px;
    border: 2px solid blue;
    width:100%;
    height:250px;
    padding-left: 30px;
    padding-top: 30px;
    /* margin-left: opx; */
    position: relative;
    top: 10%;
    font-weight: 500;
    font-family: "Times new roman";
}
.energy{
    font-family: "Century", 'Times new roman', 'serif';
        font-size:18px;
        font-weight: bold;
    padding-left: 12%;
    color:darkorchid;
}

.btn {
  background-color:dodgerblue;
  color: black;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
}                          
.btn:hover{
  background: white;
    color: black;}
.icon{
    margin-left:2px;
    margin-right: 40px;
    padding-right: 100px;
    padding-top: 0px;
    padding-left: 10px;
}
.pic2{
    margin-right:40px;
    border:2px solid blue;
    margin-top: 100px;
}
.text2{margin-top: 80px;
    font-family: "nyala";
    font-size:100px;
    font-size: 20px;
   }
.main-form{ width:450px;
            margin:auto;
            border-radius:25px;
            border-collapse: separate;
            border-spacing: 15px;
            padding:20px;
            background-color: ;
            border:2px solid #333;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   margin bottom:-10px;
}
.btn btn-secondary,.btn btn-    secondary:active {
          background-color:dodgerblue;
}
.ft{position: absolute;
    top:0%;
    left: 10%;
}

.jumbotron jumbotron-fluid{background-color: cadetblue;

}
#footer{
    padding-left: 50px;
    padding-right: 50px;
}
.formtext{font-size: 28;
            font-family: Nyala;
            Font: darkblue;
            text-align: center;
}

h5{text-align: center;
   font: black;
   font-size:28px;
}

img.streetlight_img{
    width:100px;
    padding:2px;
    border:1px solid lightgray;
    background-color:rgb(245,245,245);
}
/*.upper{background-color: #1fbfbfb8}*/
.text2 {font-size: 32px;
        }
.h2{text-align: center}

.location{
          margin-left:30%;
          margin-top: 10%;
          margin-bottom: 10%;
}
.row{
     padding-left: 20px;
}
.card{
    border-radius: 25px;
    border: 2px solid blue;
    width:100%;
    height:80px;
    padding-top: 5px;
    text-align: center;
}
.cont {
margin-left: 50%;
}
.social{
    width="50";
    height="50";
    font-family: "italic";}
.title{color:blueviolet;
font-family: "ALGERIAN";}
